-- CreateTable
CREATE TABLE "Subject" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "semester" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentRegistration" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "semester" INTEGER NOT NULL,
    "section" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StudentRegistration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClassAttendance" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "semester" INTEGER NOT NULL,
    "section" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Present',
    "lectureDate" TIMESTAMP(3) NOT NULL,
    "markedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ClassAttendance_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Subject_semester_idx" ON "Subject"("semester");

-- CreateIndex
CREATE UNIQUE INDEX "Subject_name_semester_key" ON "Subject"("name", "semester");

-- CreateIndex
CREATE INDEX "StudentRegistration_studentId_idx" ON "StudentRegistration"("studentId");

-- CreateIndex
CREATE INDEX "StudentRegistration_subjectId_idx" ON "StudentRegistration"("subjectId");

-- CreateIndex
CREATE INDEX "StudentRegistration_semester_idx" ON "StudentRegistration"("semester");

-- CreateIndex
CREATE INDEX "StudentRegistration_section_idx" ON "StudentRegistration"("section");

-- CreateIndex
CREATE INDEX "StudentRegistration_semester_section_idx" ON "StudentRegistration"("semester", "section");

-- CreateIndex
CREATE INDEX "StudentRegistration_semester_section_subjectId_idx" ON "StudentRegistration"("semester", "section", "subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "StudentRegistration_studentId_subjectId_semester_section_key" ON "StudentRegistration"("studentId", "subjectId", "semester", "section");

-- CreateIndex
CREATE INDEX "ClassAttendance_userId_idx" ON "ClassAttendance"("userId");

-- CreateIndex
CREATE INDEX "ClassAttendance_subjectId_idx" ON "ClassAttendance"("subjectId");

-- CreateIndex
CREATE INDEX "ClassAttendance_semester_idx" ON "ClassAttendance"("semester");

-- CreateIndex
CREATE INDEX "ClassAttendance_section_idx" ON "ClassAttendance"("section");

-- CreateIndex
CREATE INDEX "ClassAttendance_semester_section_idx" ON "ClassAttendance"("semester", "section");

-- CreateIndex
CREATE INDEX "ClassAttendance_semester_section_subjectId_idx" ON "ClassAttendance"("semester", "section", "subjectId");

-- CreateIndex
CREATE INDEX "ClassAttendance_lectureDate_idx" ON "ClassAttendance"("lectureDate");

-- CreateIndex
CREATE UNIQUE INDEX "ClassAttendance_userId_subjectId_lectureDate_key" ON "ClassAttendance"("userId", "subjectId", "lectureDate");

-- AddForeignKey
ALTER TABLE "StudentRegistration" ADD CONSTRAINT "StudentRegistration_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentRegistration" ADD CONSTRAINT "StudentRegistration_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassAttendance" ADD CONSTRAINT "ClassAttendance_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClassAttendance" ADD CONSTRAINT "ClassAttendance_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

